<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Run srcML</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <div class="container">
        <h1>Run XPath on {{ display }}</h1>
        <p>Enter the XPath Below</p>

        <!-- Form for file path and GitHub URL -->
        <form method="POST">
            <!-- <div>
                <label for="filePath" class="file-label">File Path:</label>
                <input type="text" id="filePath" name="filePath" placeholder="Enter file path" required>
            </div> -->
            <div>
                <label for="xpath" class="file-label">XPath:</label>
                <input id="xpath" name="xpath" placeholder="Enter XPath here" required>
            </div>

            <button type="submit">Submit</button>
        </form>

        <!-- Display Results -->
        <p id="result">{{ result }}</p>
        <div id="updates"/>
    </div>
    <script>
        const socket = io();

        socket.on('finish',(data) => {
            setTimeout(() => {
                window.location.href = data.redirect;
            }, 1000);
        });
    </script>
</body>
</html>
